* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/static/Rubik-Medium.ttf");
}

body {
  background-color: #e2ddd92a;

  margin: 0px;
  color: #1a202c;
  text-align: left;
  font-family: "Rubik", serif !important;
  font-optical-sizing: auto;
  font-size: 19px;
}

p, span { color: #999; }
hr { 
    border-top-color: #CCC; 
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Single Post page */
hr.tm-hr-primary { border-top: 5px solid #0CC; }

video {
    width: 100%;
    height: auto;
}
figure { margin: 0; }
figcaption { line-height: 1.4; }
a.tm-color-gray, .tm-color-gray { color: #999; }
a.tm-color-gray:hover { color: #099; }
.tm-bg-gray { background-color: #F3F4F5; }
button:focus { outline: none; }
a:hover { 
    text-decoration: none; 
    color: #048c8c;
}

a:hover figcaption { color: #056767; }


/* end  global rules  */
/* variables */

:root {
  --primary-color: #007bff;
  --bg-color: #f8f9fc;
  --g-bg-color: linear-gradient(
    to top,
    #ffffff,
    rgba(255, 255, 255.9),
    rgba(255, 255, 255, 0.4),
    #ddd
  );
}

/* end of variables */
.reload-btn {
  cursor: pointer;
  font-size: 18px;
  color: var(--primary-color);
}
.rounded-circle {
  border-radius: 50% !important;
}
.circle-img {
  border-radius: 50% !important;
  object-fit: cover;
  border: solid 4px #fff;
}

.hide {
  display: none;
}

.book-card-column {
  width: 33.3%;
  min-width: 470px;
  margin-bottom: 36px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .book-card-column {
    width: 100%;
    display: block;
  }
}

.book-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.book-card > img {
  width: 100%;
  height: 240px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.book-card-container {
  padding: 0 16px;
}
.book-card-container .summary {
  font-size: 1rem;
}

.book-card-container::after {
  content: "";
  clear: both;
  display: table;
}
.book-title {
  color: grey;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100vw;
    padding: 0;
    max-width: 100vw;
  }
}

.active {
  color: black;
  border-bottom: solid 2px black;
}
